/* Navbar Properties */

.navbar {
    background-color: rgb(45, 45, 45);
    color: white;
    display: flex;
    justify-content: end;
    padding-left: 2rem;
    padding-right: 2rem;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.navbar-nav {
    margin-left: auto;

}

/* Jumbotron Properties */

.jumbotron {
    background-color: rgb(224, 224, 224);
    padding: 2rem;
    border-radius: 1rem;
}

/* Card Properties */

.card {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
}

.card-body {
    flex: 1 1 auto;
    padding: 0;
    color: var(--bs-card-color);
}


.card img {
    height: 17rem;
}

.card-footer {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
}

/* Footer Properties */

.copyright {
    background-color: rgb(45, 45, 45);
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}